<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.revolut.sdk.bridge">

  <!-- Internet permission for Revolut SDK -->
  <uses-permission android:name="android.permission.INTERNET" />
  
  <!-- Network state permission for Revolut SDK -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
